* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background: #4d607c;
    background-image: url('background.jpg');
     background-size: cover; background-position: center; 
     background-repeat: no-repeat
}

    

.converter {
    background-color: #ebcfcf00;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-top: 10px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}
